
ol {
  list-style: decimal;
  padding-top: 10px;
  font-size: 20px;
}
ul {
  list-style: circle;
  font-size: 20px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  /* border: 2px solid green; */
}
li {
  padding-top: 2px;
  padding-left: 1px;
  padding-bottom: 2px;
  margin-left: 35px;
  /* border: 2px dotted brown; */
}
