


ol {
  list-style: decimal;
  padding-top: 10px;
  font-size: 20px;
}
ul {
  /* padding-left: 1px 40px; */
  list-style: circle;
  font-size: 20px;
  border: 2px solid brown;
  margin-bottom: 15px;
  padding-bottom: 30px;
}
li {
  padding-left: 1px;
  margin-left: 35px;
  border: 2px dotted blue;
}